* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    color: #333;
    // background: #f6f6f6;
    font-size: 14px;
    line-height: 1.428571429;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    padding-left: $bg;
}

li {
    list-style-type: circle;
}

hr {
    border: 1px solid #ddd;
}

.image-right {
    float: right;
    margin: 0 0 $bg $bg;
}

.row {
    @include clearfix;
    margin-top: $bg;
    margin-bottom: $bg;
    padding-left: $bg;
    padding-right: $bg;
}

.col, [class*=col] {
    position: relative;
    min-height: 1px;
    float: left;
}

.col-full {
    width: 100%;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.inline-list {
    li {
        display: inline-block;

        padding: 0 $bg / 2;
    }
}

@include respond-phone {
    [class*=col] {
        width: 100%;
    }
}

.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    max-width: $phone-width;
}


#searchform {
    margin-top: 0;

    input, button, select, option {
        font-size: $bg;
        padding: $bg / 2;
    }

    select {
        height: $bg * 2;
        border: 1px solid #ccc;
    }

    select, button {
        display: block;
        margin: 0 auto;
        width: 90%;

        @include respond-phone {
            width: 100%;
            margin: $bg / 4 0;
        }
    }
}