body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background: white;
    color: $c-1;
}

a {
    text-decoration: none;
}

html.js-enabled a:hover {
    text-decoration: underline;
}