.button {
    border: 1px solid $c-4;
    border-radius: 2px;
    font-weight: bold;
    font-weight: 500;
    line-height: 1;
    padding: 1rem 2rem;
    text-align: center;
    @include flex-center(row);

    &__icon {
        width: 2rem;
        margin-right: .5rem;
    }

    &__wrapper {
        @include flex-center;
    }

    &--toggle {
        margin: 2rem auto 0 auto;
        font-size: 1.6rem;
        background: $c-6;
        color: $c-4;
    }

    html.has-mouse &--toggle:hover {
        background: white;
    }

    &--action {
        background: $c-4;
        color: white;

        // On small screens the text might be too big
        @include respond-until($screen-sm) {
            padding: 0 2rem !important;

            .button__icon {
                margin-right: 0;
                width: 2.5rem;
            }

            span {
                display: none;
            }
        }
    }

    html.has-mouse &--action:hover {
        background: $c-5;
    }
}