.languages {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;

    &__list {
        padding: 0 1rem;
        width: calc(100% / 3);
        list-style: none;
    }

    &__list:nth-child(4) {
        width: 100%;
    }

    &__list li {
        margin-bottom: 1rem;
        text-align: center;
    }

    a {
        font-size: 1.6rem;
        font-weight: 500;
    }
}