.languages {
    display: flex;
    margin-top: 3rem;

    &__list {
        margin: 0 1rem;
        width: calc(100% / 3);
        list-style-type: circle;
    }

    &__list li {
        padding-bottom: .5rem;
    }

    a {
        font-size: 1.4rem;
    }
}