.languages {
    display: flex;
    margin-top: 3rem;

    &__list {
        margin: 0 1rem;
        width: calc(100% / 3);
        list-style: none;
    }

    &__list li {
        margin-bottom: 1rem;
        text-align: center;
    }

    a {
        font-size: 1.6rem;
        font-weight: 500;
    }
}