.search {
    @include flex-center;

    &, > * {
        width: 100%;
        margin-top: 1rem;
    }

    &__input {
        font-size: 16px; // If this is less than 16px, iOS will zoom in on the element
        padding: 1rem;
        border: 1px solid $c-2;
    }

    &__options {
        @include flex-center(row);
    }

    &__language,
    &__button {
        font-size: 16px; // If this is less than 16px, iOS will zoom in on the element
        padding: 1rem 2rem;
        height: 4.5rem;
        margin: 0 1rem;
    }
}